
<div class="myPanel" style="">
					<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
		                  <div style="margin:40px" *ngIf="!this.submitted">
			      	          	<h2>Submit Brand</h2>
			      	          	<p>Enter a sustainable brand into the catalog.</p>
			      	          	<br>
			      	          	<br>
			      	          	<div class="form-group">
					      	          	<label for="title">Name</label>
					                    <input 
					                    	style="margin-bottom: 10px" 
					                    	ngModel
					                    	name="title"
					                    	type="text"
					                    	class="form-control"
					                    	placeholder="Enter Product Name, if different from video review"
				                    	/>
			                    </div>
			                    <div>
				      	          	<label for="title">Video</label>
				                    <input 
				                    	style="margin-bottom: 10px" 
				                    	ngModel
				                    	required
				                    	name="video1"
				                    	type="text"
				                    	class="form-control"
				                    	placeholder="Product Video or Video Review Link (ie. youtube, vimeo)"
				                    	/>
			                    </div>
			                    <div class="form-group">
				      	          	<label for="title">Sustainability & Ethics</label>
				                    <input 
				                    	style="margin-bottom: 10px" 
				                    	ngModel
				                    	required
				                    	name="sust1"
				                    	type="text"
				                    	class="form-control"
				                    	placeholder=""
				                    	/>
			                    </div>
			                    <div class="form-group">
				      	          	<label for="title">Best For</label>
				                    <input 
				                    	style="margin-bottom: 10px" 
				                    	ngModel
				                    	required
				                    	name="bestfor"
				                    	type="text"
				                    	class="form-control"
				                    	placeholder=""
				                    	/>
			                    </div>
			                    <div class="form-group">
				      	          	<label for="title">Sustainability Link</label>
				                    <input 
				                    	style="margin-bottom: 10px" 
				                    	ngModel
				                    	required
				                    	name="sustlink"
				                    	type="text"
				                    	class="form-control"
				                    	placeholder="CSR Page / Independent Label Link. Why is this thing 'green'? Who's backing up their claim?"
				                    	/>
			                    </div>
			                    <div class="form-group">
				      	          	<label for="title">Link</label>
				                    <input 
				                    	style="margin-bottom: 10px" 
				                    	ngModel
				                    	name="productlink"
				                    	type="text"
				                    	required
				                    	class="form-control"
				                    	placeholder="Amazon Product Link, link to a page to purchase."
				                    	/>
			                    </div>
			                    <div class="form-group">
					      	          		<label for="title">Range</label>
					                    	<input 
					                    	style="margin-bottom: 10px" 
					                    	ngModel
					                    	name="range"
					                    	type="text"
					                    	class="form-control"
					                    	placeholder="Enter Product Category (ie. apparel, beauty, solar)"
					                    	/>
			                    </div>
			                    <div class="form-group">
					      	          		<label for="title"> Price Range</label>
					                    	<input 
					                    	style="margin-bottom: 10px" 
					                    	ngModel
					                    	name="price"
					                    	type="text"
					                    	class="form-control"
					                    	placeholder="Enter the rough price at the given link, we will automate this ASAP"
					                    	/>
			                    </div>
			                    <div class="form-group">
				      	          	<label for="title">Intro</label>
				                    <input 
				                    	style="margin-bottom: 10px" 
				                    	ngModel
				                    	required
				                    	name="intro"
				                    	type="text"
				                    	class="form-control"
				                    	placeholder="Intro"
				                    	/>
			                    </div>

			                    <a data-toggle="collapse" href="#collapseExample">
  								More Options
								</a>
								<br>
								  


								<div class="collapse" id="collapseExample">
									<br>
									<div class="form-group">
					      	          	<label for="title">Comments</label>
					                    <input 
					                    	style="margin-bottom: 10px" 
					                    	ngModel
					                    	name="comments1"
					                    	type="text"
					                    	class="form-control"
					                    	placeholder="Intro"
					                    	/>
				                    </div>
				                    <div class="form-group">
					      	          	<label for="title">Votes</label>
					                    <input 
					                    	style="margin-bottom: 10px" 
					                    	ngModel
					                    	name="upvote"
					                    	type="number"
					                    	class="form-control"
					                    	placeholder="0"
					                    	/>
				                    </div>
				                    <div class="form-group">
					      	          	<label for="title">User</label>
					                    <input 
					                    	style="margin-bottom: 10px" 
					                    	ngModel
					                    	name="user"
					                    	type="text"
					                    	class="form-control"
					                    	placeholder="The User Number"
				                    	/>
			                    	</div>
			                    	<div class="form-group">
					      	          	<label for="title">Category</label>
					                    <input 
					                    	style="margin-bottom: 10px" 
					                    	ngModel
					                    	name="category"
					                    	type="text"
					                    	class="form-control"
					                    	placeholder="Please enter a category"
				                    	/>
			                    	</div>
			                    	
			                    		
			                    			
								</div>

								<br>
								<hr>
								<br>
			                    		                    
			      		        <button 
			      		        	class="btn btn-primary"
			      		        	[disabled]="!f.valid"
			      		        	>
			      		        	Submit
			      		        </button>
			       				
		                  </div>
	                </form>
                  <div style="margin:20px" *ngIf="this.submitted">
                  		<h4 style="text-align:center">Thank you for your submission!</h4>
                  </div>
</div>