
 <div class="col-xs-4 col-sm-2" >

	<img style="width:100%; margin-top:20%" src="https://img.youtube.com/vi/{{new.value.videotag}}/default.jpg">
</div> 
<div class="col-xs-8 col-sm-10">
	<h3>{{new.value.title}}</h3>
	 <p style="color:grey">{{new.value.sust1}}</p> 


	<div class="btn btn-default btn-sm" style="color:grey" [routerLink]=new.value.category >
		{{new.value.category}}
	</div>
	<!-- <div class="btn btn-default btn-sm" style="color:grey" *ngIf="new.value.category2">
		{{new.value.category2}}
	</div>
	<div class="btn btn-default btn-sm" style="color:grey" *ngIf="new.value.category3">
		{{new.value.category3}}
	</div>  -->

	<!-- 
	<div class="btn btn-default btn-sm">
			{{new.value.comments1}}
	</div> -->
	
	<p *ngIf="new.value.greene" style="display:inline"><a target="_blank" href="www.green-e.org"><img src="assets/green-e.gif" height="30px"></a></p>
	<p *ngIf="new.value.organic" style="display:inline"><a target="_blank" href="https://www.ams.usda.gov/rules-regulations/organic"><img src="assets/organic.gif" height="30px"></a></p>
	<p *ngIf="new.value.fairtrade" style="display:inline"><a target="_blank" href="http://fairtradeusa.org/cooplink"><img src="assets/fairtrade.gif" height="30px"></a></p>
	<p *ngIf="new.value.oneforone" style="display:inline"><img src="assets/1for1.gif" height="30px"></p>
	<p *ngIf="new.value.bcorp" style="display:inline"><a target="_blank" href="https://www.bcorporation.net"><img src="assets/bcorp.gif" height="30px"></a></p>
	<p *ngIf="new.value.carbonfree" style="display:inline"><a target="_blank" href="https://carbonfund.org/product-certification"><img src="assets/carbonfree.gif" height="30px"></a></p>
	<p *ngIf="new.value.closedloop" style="display:inline"><img src="assets/closedloop.gif" height="30px"></p>
	<p *ngIf="new.value.fairlabor1" style="display:inline"><a target="_blank" href="http://www.fairlabor.org"><img src="assets/fairlabor1.gif" height="30px"></a></p>
	<p *ngIf="new.value.fairlabor2" style="display:inline"><a target="_blank" href="http://fairtradeusa.org/certification"><img src="assets/fairlabor2.gif" height="30px"></a></p>
	<p *ngIf="new.value.local" style="display:inline"><img src="assets/local.gif" height="30px"></p>
	<p *ngIf="new.value.noncarbon" style="display:inline"><img src="assets/noncarbon.gif" height="30px"></p>
	<p *ngIf="new.value.noncruelty" style="display:inline"><a target="_blank" href="http://www.peta.org/about-peta/how-is-a-company-certified-as-cruelty-free/"><img src="assets/noncruelty.gif" height="30px"></a></p>
	<p *ngIf="new.value.nonfur" style="display:inline"><a target="_blank" href="http://www.peta.org/about-peta/how-is-a-company-certified-as-cruelty-free/"><img src="assets/nonfur.gif" height="30px"></a></p>
	<p *ngIf="new.value.nongmo" style="display:inline"><img src="assets/nongmo.gif" height="30px"></p>
	<p *ngIf="new.value.nontoxic" style="display:inline"><img src="assets/nontoxic.gif" height="30px"></p>
	<p *ngIf="new.value.nonwaste" style="display:inline"><img src="assets/nonwaste.gif" height="30px"></p>
	<p *ngIf="new.value.vegan" style="display:inline"><img src="assets/vegan.gif" height="30px"></p>
	
	<div class="btn btn-default btn-sm hoverButton" style="color:grey" (click)="postOpen(new.value)">
	<span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="color:grey"></span>
		Expand
	</div>
	
	<a 
		class="btn btn-default hoverButton btn-sm" style="color:grey" target="_blank" href="{{new.value.productlink}}">Go To Site
	</a>

	

	<div class="pull-right btn btn-default btn-sm" *ngIf="!this.pricetoggle" [ngClass]="{disabled : new.value.toggle}" (click)="upVote(new,$event)">
		<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{new.value.upvote}} Trust Votes
	</div>  
	<div class="pull-right btn btn-default btn-sm" *ngIf="this.pricetoggle"><p>{{new.value.price}}</p></div>


</div>

