<div style="padding-top:100px; padding-bottom:80px">

    <h2>Energy Companies (ESCOs)</h2>
    <p>The Leaderboard to find the best sustainable energy service companies</p>
    <br>
    <div >
        <p class="blog-post-meta">Energy Service Companies are a great way to get renewable energy in your home without installing any hardware: These companies will sell you green energy from remote wind farms and solar power plants. But there are a lot of shady sales tactics reported from this business and some hidden fees. Also – how green is the energy really? Find out in our comparison of the best Energy Service Companies below.</p>
    </div>
</div>
      	

<div *ngIf="selectedItem" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
        	{{this.selectedItem.title}} | {{this.selectedItem.category}}
        	<button type="button" class="close pull-right" style="padding:10px" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        	</button>
        	&nbsp;&nbsp;&nbsp;
        	<button class="btn btn-default pull-right" (click)="upVote(new.upvote, new.uid)">
			    Upvote
			    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{this.selectedItem.upvote}}
	        </button>
        </h3>
      </div>
      <div class="modal-body">
      <div class="row">
         <div class="col-sm-6">
			 <div class="embed-responsive embed-responsive-16by9">
				 <iframe 
					class="embed-responsive-item"
					[src]="this.selectedItem.video1 | safe"
					allowfullscreen>
				</iframe>
			</div>
		</div>
		 <div class="col-sm-6">
			<p><b>Sustainability & Ethics</b> | {{this.selectedItem.sust1}}</p>
			<p><b>Best For</b> | {{this.selectedItem.bestfor}}</p>
			<p><b>Product Range</b> | {{this.selectedItem.range}}</p>
			<p><b>Price Range</b> | {{this.selectedItem.price}}</p>
			<p>{{this.selectedItem.intro}}</p>
			<a class="btn btn-info" target="_blank" href="{{this.selectedItem.sustlink}}">Sustainability & Ethics</a>
			<a target="_blank" class="btn btn-primary" href="{{this.selectedItem.productlink}}">Go To Site</a>
		</div> 
		</div>
		<div class="row">
			<div class="col-sm-12" >
				<h5>
					<span class="glyphicon glyphicon-comment" aria-hidden="true" (click)="void"></span> 
					Comments
				</h5>
				<div class="panel">
						{{this.selectedItem.comments1}}
				</div>
				<a class="btn btn-default pull-right">Comment</a>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<div class="table-responsive myPanel">	
	<table class="table table-hover table-sm">
		<tr class="postRow" *ngFor="let new of news | async, let i = index" (click)="postOpen(new)" 
			style="cursor:pointer">
			<td *ngIf="i<visibilityLimit">
					<div class="col-sm-2" valign="top" style="color:grey; padding: 10px">
						<div class="embed-responsive embed-responsive-4by3">
							<!-- <img src="https://img.youtube.com/vi/< + new.video1 + >/default.jpg"> -->
							<iframe 
							[src]="new.video1 | safe"
							allowfullscreen></iframe>
						</div>
					</div> 
					<div class="col-sm-10">
						<h3>{{new.title}}</h3>
						<p>{{new.sust1}}</p>
	         			<div class="btn btn-default" (click)="upVote(new.upvote, new.uid)">
			    			<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{new.upvote}}
	        			</div>
	        			<div class="btn btn-default" (click)="postOpen(new)">
							<span class="glyphicon glyphicon-comment" style="color:grey" aria-hidden="true" (click)="void"></span>
							{{new.comments1}}
						</div>
						<div class="btn btn-default hoverButton" style="color:grey" (click)="postOpen(new)">
							Expand
						</div>
						<a 
							class="btn btn-default hoverButton" style="color:grey" target="_blank" href="{{new.productlink}}">Go To Site
						</a>
						<div class="pull-right btn btn-default" [routerLink]=new.category >
			    			{{new.category}}
	        			</div>
	        			<div class="pull-right btn btn-default" *ngIf="new.category2">
			    			{{new.category2}}
	        			</div>
	        			<div class="pull-right btn btn-default" *ngIf="new.category3">
			    			{{new.category3}}
	        			</div>
					</div>
			</td>
		</tr>
	</table>
</div>

<div style="text-align:center; padding: 2rem">
	<a class="btn btn-default"(click)="this.visibilityExpander()" *ngIf="visibilityLimit<15">Load More</a>
</div>

<div class="myPanel" style="width: 50%; margin-top:100px; margin-bottom:80px; padding: 30px"><h3 style="text-align: center;">Is a great sustainable company missing? Submit it <a routerLink="/Submit">here</a>!</h3></div>
    		
		
			<hr>
			<p style="text-align: center">It’s easy to do something about climate change! Choose an ESCO powered by renewables or RECs. Get your electricity off fossil fuels and reduce your carbon footprint. </p>
			<p>* RECs stands for <a href="https://en.wikipedia.org/wiki/Renewable_Energy_Certificate_(United_States)">Renewable Energy Certificates.</a></p>
			<p>** For 12 month plans</p>
			<p>*** Simulated bill with a standard July ConEd energy bill of 500kWh; after all taxes and delivery charges, according to the <a href="/assets/simulationbillsummer.jpg">groundbreaking SUPERJUICE method</a>. Your results may vary according to delivery charge and state tax. This is an approximation for standard apartment usage with delivery by ConEd in NY.</p>
			<hr>
