<div style="padding-top:100px; padding-bottom:80px">

    <h2>Energy Companies (ESCOs)</h2>
    <p>The Leaderboard to find the best sustainable energy service companies</p>
    <br>
    <div >
        <p class="blog-post-meta">Energy Service Companies are a great way to get renewable energy in your home without installing any hardware: These companies will sell you green energy from remote wind farms and solar power plants. But there are a lot of shady sales tactics reported from this business and some hidden fees. Also – how green is the energy really? Find out in our comparison of the best Energy Service Companies below.</p>
    </div>
</div>
      	

<div *ngIf="selectedItem" id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
         <app-details [selectedItem]="selectedItem"></app-details> 
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




	
	<div class="myPanel" style="">
		<a *ngFor="let new of news | async, let i = index" [href]="new.title" (click)="postOpen(new)" style="cursor:pointer" class="myRow">
			 
				<div class="row" style="padding:10px" *ngIf="i<visibilityLimit">
					<div class="col-xs-3 col-sm-2" >
							 <img style="width:100%; margin-top:20%" src="https://img.youtube.com/vi/{{new.videotag}}/default.jpg">
					</div> 
					<div class="col-xs-9 col-sm-10">
						<h3>{{new.title}}</h3>
						<p>{{new.sust1}}</p>
	         			<!-- <div class="btn btn-default btn-sm" (click)="upVote(new.upvote, new.uid)">
			    			<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{new.upvote}}
	        			</div> -->
	        			<div class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-comment" aria-hidden="true" (click)="void"></span>
							{{new.comments1}}
						</div>
						<div class="btn btn-default hoverButton btn-sm" style="color:grey" (click)="postOpen(new)">
							Expand
						</div>
						<a 
							class="btn btn-default hoverButton btn-sm" style="color:grey" target="_blank" href="{{new.productlink}}">Go To Site
						</a>
						<div class="pull-right btn btn-default btn-sm" style="color:grey" [routerLink]=new.category >
			    			{{new.category}}
	        			</div>
	        			<div class="pull-right btn btn-default btn-sm" style="color:grey" *ngIf="new.category2">
			    			{{new.category2}}
	        			</div>
	        			<div class="pull-right btn btn-default btn-sm" style="color:grey" *ngIf="new.category3">
			    			{{new.category3}}
	        			</div>
					</div>
				</div> 
				<hr style="padding:0px; margin:0px">
			
		</a>
	</div>

<div style="text-align:center; padding: 2rem">
	<a class="btn btn-default"(click)="this.visibilityExpander()" *ngIf="visibilityLimit<15">Load More</a>
</div>

<div class="myPanel" style="width: 50%; margin-top:100px; margin-bottom:80px; padding: 30px"><h3 style="text-align: center;">Is a great sustainable company missing? <a class="btn btn-primary" routerLink="/Submit">Submit it here !</a></h3></div>
    		
		
			<hr>
			<p style="text-align: center">It’s easy to do something about climate change! Choose an ESCO powered by renewables or RECs. Get your electricity off fossil fuels and reduce your carbon footprint. </p>
			<p>* RECs stands for <a href="https://en.wikipedia.org/wiki/Renewable_Energy_Certificate_(United_States)">Renewable Energy Certificates.</a></p>
			<p>** For 12 month plans</p>
			<hr>

