
.superjuice a {
  font-weight: 700;
  margin: 0;
  position: absolute; 
  top: 20px; 
  left: 20px; 
  font-size:3rem;
  text-decoration:none;
  color: #3d7eed;

}


.beta p {
  text-align:top left;
  color: #cdcdcd;
  top: 5rem; 
   left: 14rem; 
   text-align:top left;
  position: absolute; 
  font-size: 1.5rem;
}