
.navbar-brand a {
  color: #3d7eed;
}


.beta p {
  text-align:top left;
  color: #cdcdcd;
  top: 5rem; 
   left: 14rem; 
   text-align:top left;
  position: absolute; 
  font-size: 1.5rem;
}



.navbar-default {
  background-color:white;
  padding:0px;
  margin: 0px;
}