<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" routerLink="/">
        <p><img alt="Brand" src="assets/superjuicelogo.png" height="25px">
        <b>superjuice</b></p>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="New">Recent</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Categories<span class="caret"></span></a>
          <ul class="dropdown-menu myPanel" style="padding:5px" >
            <li>
              <a routerLink="Escos">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> &nbsp;Energy</a>
            </li>
            <li>
              <a routerLink="Apparel">
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> &nbsp;Fashion
              </a>
            </li>
            <li>
              <a routerLink="Shoes">
                <span class="glyphicon glyphicon-scale" aria-hidden="true"></span> &nbsp;Shoes & Sneakers
              </a>
            </li>
            <li>
              <a routerLink="Eyewear">
              <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> &nbsp;Eyewear
              </a>
            </li>
            <li>
              <a routerLink="Cleaning">
                <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> &nbsp;Cleaning Products
              </a>
            </li>
            <li>
              <a routerLink="Cosmetics">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> &nbsp;Makeup
              </a>
            </li>
            <!-- <li>
              <a routerLink="Skincare">
                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> &nbsp;Skincare
              </a>
            </li> -->
            <li>
              <a routerLink="Food">
                <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span> &nbsp;Food
              </a>
            </li>
            <li>
              <a routerLink="Transport">
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span> &nbsp;Transportation
              </a>
            </li>
            <li>
              <a routerLink="Home">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> &nbsp;Home
              </a>
            </li>
            <li>
              <a routerLink="Finance">
                <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> &nbsp;Finance
              </a>
            </li>
            <li>
              <a routerLink="Travel">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> &nbsp;Travel
              </a>
            </li>
            <li>
              <a routerLink="Solar">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> &nbsp;Solar
            </a>
          </li>
          </ul>
        </li>
        <li><a routerLink="Submit"><!-- Submit -->
              <span class="glyphicon glyphicon-plus-sign success" aria-hidden="true"></span>
        </a></li>
        <li><a routerLink="/About" >About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>