<footer class="footer footer-default">
      <div class="container-fluid">
      	<div class="col-sm-10 col-sm-offset-1">
        <a class="footer-brand" routerLink="/">
        	<img alt="Brand" src="assets/superjuice-logo-complete.png" height="25px">
      	</a><br><br>
        <hr>
        <p style="color: #999"><b> Disclaimer:</b> Superjuice strives to keep its information accurate and up to date. This information may be different than what you see when you visit a financial institution, service provider or specific product’s site.Disclosure: Links can generate small sums for Superjuice, powering our buildout.</p>
        </div>
      </div>
</footer>