.container {
      width: auto;
      box-sizing: border-box;
      overflow: hidden;
      transition: 0.25s ease-in-out;
    } 

.result {
      border-style: solid;
      border-width: 0.05px;
      border-color: #e5e5e5;
      border-radius: 5px;
      justify-content: center; 
      background-color: white; 
      margin: 3px; 
      box-shadow: 1px 2px 5px 0px rgba(200,200,200,0.5);
      padding:2rem;
}


@media screen and (max-width: 768px) {
      #imagebox{ height: 3em; position: relative}
      #image { margin: 0;
         position: absolute;               
         top: 50%; 
         left: 50%;                        
         transform: translate(-50%, -50%) ;   
         height: 2em;
         text-align: center;
      	}
      #name { text-align: center; }
      #saving{
      	text-align:center;
      }
}



@media screen and (min-width: 768px) {
      #imagebox{ height: 7em; position: relative; }
      #image { margin: 0;
         position: absolute;               
         top: 50%;    
         left: 50%;                     
         transform: translate(-20%, -50%) ; 
         height: 20%;}
      #name { text-align: left; }
      #saving {
      	text-align: right;
      }
}




/*MAY NOT BE NECESSARY*/




.jumbotron {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  background-image: url(/assets/hero2.jpg);
=======
  background-image: url(assets/hero2.jpg);
>>>>>>> 812fa0fe18b0e9ec5d6599769540d565175ef782
  background-size: 80rem;
  background-repeat: no-repeat;
  height: 70rem;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .2);
  background-position: center
}



.jumbotron h2 {
  color: #3d7eed;
  font-weight: 700;

}

.jumbotron h4 {
  font-weight: 200;
 
}

