<div class="container">
	<div class="col-sm-8 col-sm-offset-2" style="padding: 50px">
			<br><br>
			<h2>ESCO Comparison Guide 2017</h2>
			<p class="blog-post-meta" style="color: #999;">For Pricing and Energy Sources</p>
	</div> 
</div>


<div class="container"> 
	<div class="row">
			<div *ngFor="let esco of escos, let i = index" (click)="esco.isVisible = !esco.isVisible">
			    <div  kayakMouseover class="result" *ngIf="i<visibilityLimit" >
			      	<div class="row">
				        <div id="imagebox" class="col-md-1">
				          <p><img  id="image" src="{{esco.img}}" ></p>
				        </div>
				        <div class="col-md-6" id="name">
				            <h3><b>{{esco.name}}</b></h3>
				            <p style="color:grey">
				            	<b>Source:</b>
				            	<br>
				            	{{esco.source}}
				            </p>
				            <br>
				            <p *ngIf="esco.reviews" style="color:grey">
				             	<b>Our research:</b>
				             	<br>
				             	{{esco.reviews}}
				            </p>
				            <br>
				            <br>
				           	<!-- <a *ngIf="esco.reviews">View all Reviews (coming soon)</a> -->
				        </div>
				        <div class="col-md-4" id="saving">
				            <h1> <b>${{ conEd-(esco.cpk * 500) }}</b></h1>
				            <h5 style="color:grey">avg. savings / month <br>over default energy supply</h5>
				            <br>
				            <br>
				            <a class="btn btn-default disabled">Review now</a>
				            <br>
				            <br>
				            <a href="{{esco.url}}"> <button class="btn btn-primary">Switch Plans Now <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button> </a>
				            <br><br>
				            <p> More Info <span class="glyphicon glyphicon-menu-down glyphicon-lg"></span></p>


				        </div>
			      	</div>
			      	<div class="row container" [style.max-height]="esco.isVisible ? '500px' : '0px'">  
				      	<hr>
				      	<div class="col-sm-12"  style="text-align: right">
				          <p style="color:grey">Savings for a typical NYC apartment's usage (500kWh per month, averaged for seasons) compared to ConEd Solutions' standard rate.</p>
				          <p>Delivery by Con Edison for safe, reliable service.</p>
				          <p><i>Average bill:</i> ${{esco.cpk * 500 + 74 }}/ per month. 
				          <i>Price:</i> {{esco.cpk}} $/kWh
				          <br><i>Suggested run time</i> for this price: {{esco.time}} months </p>
				      	</div>
			      	</div>
			    </div>
			</div>
			
			<div style="text-align:center; padding: 2rem">
				<a class="btn btn-secondary"(click)="this.visibilityExpander()" *ngIf="visibilityLimit<15"> Load More Options </a>
			</div>
	</div>
</div>




