<div style="padding-top:100px; padding-bottom:80px">
    <h2>The Small Solar Comparison Tool</h2>
    <p>Find the best portable arrays.</p>
    <div >
    </div>
</div>
      	

    <div class="table">

			<table class="table table-hover">
				<tr>
					<td scope="column" valign="top" class="myHeader h5">Info</td>
					<td scope="column" valign="top" class="myHeader h5"></td>
					<td scope="column" valign="top" class="myHeader h5">Port</td>
					<td scope="column" valign="top" class="myHeader h5">Output Listed</td>
					<td scope="column" valign="top" class="myHeader h5">Price per Watt</td>
					<td scope="column" valign="top" class="myHeader h5">Price</td>
					<td scope="column" valign="top" class="myHeader h5"></td>
				</tr>
				<tr *ngFor="let solar of solars | async" 
					[ngClass]="{recommendedClass: solar.recommended}"
					style="margin:0px" >
                    <td scope="row" style="vertical-align: middle">
						{{solar.title}}
					</td>
					<td scope="column" style="margin: 0px;">
						<div *ngIf="solar.video">
                            <div>
                                <iframe width="200" height="100" [src]="solar.video | safe" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </td>
					<td scope="column" style="vertical-align: middle">{{solar.type}}</td>
					<td scope="column" style="vertical-align: middle">{{solar.listed}}W</td>
					<td scope="column" style="vertical-align: middle">{{solar.price / solar.listed | currency:'USD':true:'1.2-2'}}</td>
					<td scope="column" style="vertical-align: middle">${{solar.price}}</td>
					<td scope="column" style="vertical-align: middle; color:grey">
						<a href="{{solar.link}}" target="_blank" class="btn btn-primary">Product Link</a>
					</td>
				</tr>

				
			</table>
    		</div>


    		
			<br>
			<br>
			<br>
			<hr>
