<div class="container" style="padding:4rem">
      <div class="row">

	        <div class="col-md-2 col-md-offset-2">
	        	<br>
	        	<img src="assets/about.png" height="170px" style=" padding: 20px">
	        </div>

	        <div class="col-md-5" style=" padding: 20px">
	        	<h3>About</h3>
	        	<p>I recently moved to New York City and found it hard to come by trustworthy information on renewable ESCOs. I hope this page will let people share their experiences going through this process.</p>
	        	<p>For any questions or comments, email n.dunkel (at) gmail.com</p>
	        </div>

      </div>	
</div>  








