<div class="container" style="padding:10rem">
	<img src="../../assets/about.png" height="200px" style="float:left; padding: 20px">
	<br>
	<h3>About</h3>
	<p>I recently moved to New York City and found picking an ESCO extremely complicated. I hope this page will help anyone else going through this process. I want to make it simpler to choose ESCOs in New York City, and find the ones that have renewable power offers available.</p>
	<p>I've read the fine print so you don't have to.</p>
	<p>For any questions or comments, email n.dunkel (at) gmail.com</p>
	<br>
	<br>	
</div>  