<div style="padding-top:100px; padding-bottom:100px">
			<img src="/assets/superjuicelogo.png" height="80px" style="margin: 20px">
			<h3>
				Hi! We think it's too hard to work out which "sustainable" products to trust.
			</h3>
			<br>
        	<hr>
				<h3>Superjuice tries to solve this problem.</h3>
	        	<p>Inspired by Stewart Brand's <a href="https://en.wikipedia.org/wiki/Whole_Earth_Catalog">Whole Earth Catalog</a>, Superjuice helps you work out what products and companies to trust and get. We offer tools to quickly compare information, certifications and prices of various sustainable product categories.</p>
	        	<p>Superjuice also offers a weekly digest of new product videos.</p>
	        	<p>When readers choose to buy items through our catalog (though not from all categories), we earn small affiliate commissions that support our work.</p>
	        	<p>For any questions or comments, email Niko at n.dunkel (at) gmail.com </p> 
</div>



