<div style="padding-top:100px; padding-bottom:80px">

    <h2>The Ethical Apparel Comparison Tool</h2>
    <p>Find the best sustainably made wear.</p>
    <div >
    </div>
</div>
      	

    <div class="table">

			<table class="table table-hover">
				<tr>
					<td scope="column" valign="top" class="myHeader h5">Info</td>
					<td scope="column" valign="top" class="myHeader h5"></td>
					<td scope="column" valign="top" class="myHeader h5">Trust</td>
					<td scope="column" valign="top" class="myHeader h5">Made In</td>
					<td scope="column" valign="top" class="myHeader h5">Material</td>
					<td scope="column" valign="top" class="myHeader h5">Price</td>
					<td scope="column" valign="top" class="myHeader h5"></td>
				</tr>
				<tr *ngFor="let item of apparel | async" 
					[ngClass]="{recommendedClass: item.recommended}"
					style="margin:0px" >
                    <td scope="row" style="vertical-align: middle">
						{{item.title}}
					</td>
					<td scope="column" style="margin: 0px;">
						<div *ngIf="item.video">
                            <div>
                                <iframe width="200" height="100" [src]="item.video | safe" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </td>
					<td scope="column" style="vertical-align: middle">
						<a target="_blank" class="btn btn-success" href="{{item.label}}">Why to trust</a>
					</td>
					<td scope="column" style="vertical-align: middle">{{item.detail1}}</td>
					<td scope="column" style="vertical-align: middle">{{item.detail2}}</td>
					<td scope="column" style="vertical-align: middle">${{item.price}}</td>
					<td scope="column" style="vertical-align: middle; color:grey">
						<a href="{{item.link}}" target="_blank" class="btn btn-primary">Product Link</a>
					</td>
				</tr>

				
			</table>
    		</div>


    		
			<br>
			<br>
			<br>
			<hr>
