<div style="padding-top:100px; padding-bottom: 100px">
	
    <h2 >Newest Sustainable* Products</h2>
    <p>Compare product videos, prices and why to trust the companies behind them.</p>
</div>
 


<div *ngFor="let new of news | async" >

    <div class="row" style="margin-bottom: 50px">
        <div class="col-sm-12 myPanel" style="padding: 20px; margin: 10px">
	        
	        <h3>
	         		{{new.title}}
	         		<span class="glyphicon glyphicon-star pull-right" aria-hidden="true" (click)="void"></span>
	         		<br>
	        </h3>
	    	<div class="col-sm-4">
	    	<h5>THE PRODUCT</h5>
				<iframe style="width: 100%" [src]="new.video | safe" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-sm-4">
			<h5>HOW IT'S SUSTAINABLE</h5>
				<a *ngIf="new.label" target="_blank" class="btn btn-success" href="{{new.label}}">Why to trust</a>
			</div>
			<div class="col-sm-4">
			<h5>HOW TO GET IT</h5>
				<a target="_blank" class="btn btn-primary" href="{{new.link}}">Product Link</a>
			</div>

		</div>
    </div>

</div>


*By "green", we mean products with a socially or environmentally responsible component, or help accelerate the transition to a carbon-free economy.