<div style="padding-top:100px; padding-bottom:80px">

    <h2>Energy Companies (ESCOs)</h2>
    <p>The Leaderboard to find the best sustainable energy service companies</p>
    <br>
    <div >
        <p class="blog-post-meta">Energy Service Companies are a great way to get renewable energy in your home without installing any hardware: These companies will sell you green energy from remote wind farms and solar power plants. But there are a lot of shady sales tactics reported from this business and some hidden fees. Also – how green is the energy really? Find out in our comparison of the best Energy Service Companies below.</p>
    </div>
</div>
      	

<div *ngFor="let esco of escos | async, let i = index" >

    <div class="row myPanel" *ngIf="i<visibilityLimit" style=" margin:10px; margin-bottom: 50px; padding: 20px">
        <div class="col-sm-12">
	        <h3> 
	         	{{esco.category}} | {{esco.title}}
	        <div class="pull-right" (click)="esco.upvote = esco.upvote + 1">
			    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
			    {{esco.upvote}}
	        </div>
			<br>
			</h3>
	    <br>
	    </div>
	   	<div class="col-sm-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe 
				class="embed-responsive-item"
				[src]="esco.video1 | safe"
				allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-sm-6">
			<p><b>Sustainability & Ethics</b> | {{esco.sust1}} <a target="_blank" href="{{esco.sustlink}}">CSR Site</a></p>
			<p><b>Best For</b> | {{esco.bestfor}}</p>
			<p><b>Product Range</b> | {{esco.range}}</p>
			<p><b>Price Range</b> | {{esco.price}}</p>
			<p>{{esco.intro}}</p>
			<a target="_blank" class="btn btn-primary" href="{{esco.productlink}}">Go to site</a>
		</div>
		<div class="col-sm-12" >
		<br>
			<h6 style="text-align: right">
				<div>
					<span class="glyphicon glyphicon-comment" aria-hidden="true" (click)="void"></span>
					{{esco.comments1}}
				</div>
			</h6>
		</div>
		
    </div>

</div>
<div style="text-align:center; padding: 2rem">
	<a class="btn btn-default"(click)="this.visibilityExpander()" *ngIf="visibilityLimit<15">Load More</a>
</div>

<div class="myPanel" style="width: 50%; margin-top:100px; margin-bottom:80px; padding: 30px"><h3 style="text-align: center;">Is a great sustainable company missing? Submit it <a routerLink="/submit">here</a>!</h3></div>
    		
		
			<hr>
			<p style="text-align: center">It’s easy to do something about climate change! Choose an ESCO powered by renewables or RECs. Get your electricity off fossil fuels and reduce your carbon footprint. </p>
			<p>* RECs stands for <a href="https://en.wikipedia.org/wiki/Renewable_Energy_Certificate_(United_States)">Renewable Energy Certificates.</a></p>
			<p>** For 12 month plans</p>
			<p>*** Simulated bill with a standard July ConEd energy bill of 500kWh; after all taxes and delivery charges, according to the <a href="/assets/simulationbillsummer.jpg">groundbreaking SUPERJUICE method</a>. Your results may vary according to delivery charge and state tax. This is an approximation for standard apartment usage with delivery by ConEd in NY.</p>
			<hr>
