<div style="padding-top:100px; padding-bottom:80px">
	<p>Find the best portable arrays.</p>
    <h2 style="font-weight: lighter">The Small item Comparison Tool</h2>
    <div >
    </div>
</div>
      	

    <div class="table">

			<table class="table table-hover">
				<tr>
					<td scope="column" valign="top" class="myHeader h5">Info</td>
					<td scope="column" valign="top" class="myHeader h5"></td>
					<td scope="column" valign="top" class="myHeader h5"></td>
					<td scope="column" valign="top" class="myHeader h5">Audit</td>
					<td scope="column" valign="top" class="myHeader h5">Made In</td>
					<td scope="column" valign="top" class="myHeader h5">Material</td>
					<td scope="column" valign="top" class="myHeader h5">Type</td>
					<td scope="column" valign="top" class="myHeader h5">Price</td>
					<td scope="column" valign="top" class="myHeader h5"></td>
				</tr>
				<tr *ngFor="let item of apparel | async" 
					[ngClass]="{recommendedClass: item.recommended}"
					style="margin:0px" >
					<td style="padding-right: 0px; margin-right:0px; vertical-align: middle">
                    	<img src="{{item.img}}" style="height:30px">
                    </td>
                    <td scope="row" style="vertical-align: middle">
						{{item.title}}
					</td>
					<td scope="column" style="margin: 0px;">
						<div *ngIf="item.video">
                            <div>
                                <iframe width="200" height="100" [src]="item.video | safe" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </td>
					<td scope="column" style="vertical-align: middle">{{item.label}}</td>
					<td scope="column" style="vertical-align: middle">{{item.origin}}</td>
					<td scope="column" style="vertical-align: middle">{{item.material}}</td>
					<td scope="column" style="vertical-align: middle">{{item.type}}</td>
					<td scope="column" style="vertical-align: middle">${{item.price}}</td>
					<td scope="column" style="vertical-align: middle; color:grey">
						<a href="{{item.link}}" target="_blank" class="btn btn-primary">Product Link</a>
					</td>
				</tr>

				
			</table>
    		</div>


    		
			<br>
			<br>
			<br>
			<hr>
