<app-header></app-header>
<div class="col-sm-8 col-sm-offset-2 blog-main">
	<router-outlet></router-outlet>
</div>

<div class="col-sm-2 pull-right" style="padding:20px">
            <p><b>Welcome to Superjuice</b></p>
            <p style="color: #999">Superjuice offers green product comparison tools for people who want to quickly know what to trust and get. We also offer a periodical video review digest for green products (below).
            </p>
            <br>
            <app-sign-up></app-sign-up>
</div>