<app-header></app-header>
<div class="col-sm-8 col-sm-offset-2 blog-main">
	<router-outlet></router-outlet>
</div>

<div class="col-sm-2 pull-right" style="padding:20px">
            <h4>Welcome to Superjuice</h4>
            <p>Superjuice is a list of green product reviews and research for people who want to quickly know which green products to trust and get. When readers choose to buy our picks, we earn affiliate commissions that support our work. Here is an explanation of 
            <a routerLink="/about">exactly what we do.</a>
            </p>
            <br>
            <app-sign-up></app-sign-up>
</div>