<div class="myPanel" style="border-right: 5px solid #3d6fbd;">
                  <div style="margin:20px" *ngIf="!this.submitted">
	      	          	<h4>Get a weekly digest of new product videos!</h4>
	      	          	<form id="contact">
	                        <input 
	                        style="margin-top:20px; margin-bottom: 30px;" 
	                        [(ngModel)]="dataService.email" 
	                        name="email" 
	                        type="text" 
	                        class="form-control" 
	                        placeholder="Enter your email"/>
	      		            <input class="btn btn-primary btn-sm" value="Sign Up" (click)="onStore()">
	       				</form>
                  </div>
                  <div style="margin:20px" *ngIf="this.submitted">
                  		<h4 style="text-align:center">Thanks! You're signed up.</h4>
                  </div>
</div>