

<div style="padding-top:100px; padding-bottom:20px">
	<div class="myPanel" style="padding:20px">
		<h3 style="text-align:center">
		<img src="/assets/superjuicelogo.png" height="80px" style="margin: 20px"><br>
			We help you find the most affordable sustainable companies.
			<!-- We think it's too hard to work out which "sustainable" products to trust. -->
		</h3>
	<br>
    <hr> 
	<!-- <h3>Superjuice tries to solve this problem.</h3> -->
	<p>
		Inspired by Stewart Brand's <a href="https://en.wikipedia.org/wiki/Whole_Earth_Catalog">Whole Earth Catalog</a>, Superjuice is lists of sustainable companies ranked and reviewed by the public, paired with descriptions and certifications gleaned from company websites. </p>
	<p>
		<b>Disclaimer:</b> When readers choose to buy from some (but not all) of the listed companies in the catalog, we earn affiliate commissions that support our work.
	</p>
	<!-- <br> -->
	</div>
<!-- 			<h4>Categories</h4>
			<div style="text-align:center">
				<div class="btn-group btn-group-lg" role="group">
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Escos">
							<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
							<p><b>Energy</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Apparel">
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							<p><b>Fashion</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Shoes">
							<span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
							<p><b>Shoes</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Eyewear">
							<span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
							<p><b>Eyewear</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Cleaning">
							<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
							<p><b>Cleaning</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Cosmetics">
							<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
							<p><b>Makeup</b></p>
					</button>
				</div>
					<br><br>
				<div class="btn-group btn-group-lg" role="group">
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Food">
							<span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span>
							<p><b>Food</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Transport">
							<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
							<p><b>Transport</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Home">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							<p><b>Home</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Finance">
							<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
							<p><b>Finance</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Travel">
							<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
							<p><b>Travel</b></p>
					</button>
					<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" routerLink="/Solar">
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							<p><b>Solar</b></p>
					</button>
				</div>
				</div>-->
</div> 
 

<div style="padding-bottom:100px">
	<app-sign-up></app-sign-up>
</div>


<div *ngIf="selectedItem" id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
         <app-details [selectedItem]="selectedItem"></app-details> 
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<!--.....................................................................-->
<h4>This Week's Featured Video</h4>

<div class="myPanel" style="">
		<div *ngFor="let new of news | keypipe | filter: 'Banking' | sort, let i = index"  (click)="postOpen(new)" style="cursor:pointer" class="myRow">
			 
				<div class="row" style="padding:10px" *ngIf="1 > i">
					 <div class="col-sm-6" >

						<div class="embed-responsive embed-responsive-16by9">
							 <iframe 
							 	id="yt-player"
								class="embed-responsive-item"
								[src]="new.value.video1 | safe"
								allowfullscreen>
							</iframe>
						</div>

					</div> 
					<div class="col-xs-8 col-sm-6">
						<h3>{{new.value.title}}</h3>
						 <p style="color:grey">{{new.value.sust1}}</p> 
	         			  <div class="btn btn-default btn-sm" [ngClass]="{disabled : new.value.toggle}"  (click)="upVote(new,$event)">
			    			<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{new.value.upvote}} Trust Votes
	        			</div>  
	        			<!-- <div class="btn btn-default btn-sm">
							
							{{new.value.comments1}}
						</div> -->
						<p style="display:inline"><a target="_blank"><img src="assets/onfire.gif" height="20px"></a></p>
						
						<div class="btn btn-default btn-sm hoverButton" style="color:grey" (click)="postOpen(new.value)">
						<span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="color:grey"></span>
							Expand
						</div>
						
						<a 
							class="btn btn-default hoverButton btn-sm" style="color:grey" target="_blank" href="{{new.value.productlink}}">Go To Site
						</a>

						<!-- <div class="pull-right btn btn-default btn-sm" style="color:grey" [routerLink]=new.value.category >
			    			{{new.value.category}}
	        			</div>
	        			<div class="pull-right btn btn-default btn-sm" style="color:grey" *ngIf="new.value.category2">
			    			{{new.value.category2}}
	        			</div>
	        			<div class="pull-right btn btn-default btn-sm" style="color:grey" *ngIf="new.value.category3">
			    			{{new.value.category3}}
	        			</div>  -->
	        		</div>
				</div> 
				<hr style="padding:0px; margin:0px">
			
		</div>
	</div>
<!--.....................................................................-->



<br>
<h4>Submitted Today</h4>



	
	<div class="myPanel" style="">
		<div *ngFor="let new of news  | keypipe | reverse, let i = index"  (click)="postOpen(new)" style="cursor:pointer" class="myRow">
			 
				<div class="row" style="padding:10px" *ngIf="this.visibilityLimit > i">
					 
						<app-widget [new]="new" [pricetoggle]="pricetoggle"></app-widget>

				</div> 
				<hr style="padding:0px; margin:0px">
			
		</div>
	</div>
	


<div style="text-align:center; padding: 2rem">
	<a class="btn btn-default"(click)="this.visibilityExpander()">
		<b>Load More</b>
		<br>
		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
	</a>
</div>




*By "sustainable" we mean products with a socially or environmentally responsible component, or help accelerate the transition to a carbon-free economy.


 

<disqus [shortname]="'superjuice-cc'" [identifier]="'great'"></disqus>

