<iframe id="dsq-app1" name="dsq-app1" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="https://disqus.com/embed/comments/?base=default&amp;version=363a88bef35291d2372470008ca7e3b0&amp;f=superjuice-cc&amp;t_u=http%3A%2F%2Fsuperjuice.cc%2FNew&amp;t_d=Superjuice&amp;t_t=Superjuice&amp;s_o=default" horizontalscrolling="no" verticalscrolling="no" style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 1620px !important;"></iframe>



<div style="padding-top:100px; padding-bottom: 100px">
	
    <h2>Find, Share & Compare Sustainable* Companies.</h2>
    <p>Superjuice is a catalog of sustainable companies that anyone can add to, comment on, vote on or share their experiences with. It is here to help consumers find sustainable companies to buy from, compare their certifications and judge their trustworthiness.</p>
</div>
 
<app-sign-up></app-sign-up>
<br>
<h4>Submitted Today</h4>



<div *ngIf="selectedItem" id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
         <app-details [selectedItem]="selectedItem"></app-details> 
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




	
	<div class="myPanel" style="">
		<div *ngFor="let new of news | async, let i = index" (click)="postOpen(new)" style="cursor:pointer" class="myRow">
			 
				<div class="row" style="padding:10px" *ngIf="i<visibilityLimit">
					<div class="col-xs-3 col-sm-2" >
							 <img style="width:100%; margin-top:20%" src="https://img.youtube.com/vi/{{new.videotag}}/default.jpg">
					</div> 
					<div class="col-xs-9 col-sm-10">
						<h3>{{new.title}}</h3>
						<p>{{new.sust1}}</p>
	         			<!-- <div class="btn btn-default btn-sm" (click)="upVote(new.upvote, new.uid)">
			    			<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{new.upvote}}
	        			</div> -->
	        			<div class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-comment" aria-hidden="true" (click)="void"></span>
							{{new.comments1}}
						</div>
						<div class="btn btn-default hoverButton btn-sm" style="color:grey" (click)="postOpen(new)">
							Expand
						</div>
						<a 
							class="btn btn-default hoverButton btn-sm" style="color:grey" target="_blank" href="{{new.productlink}}">Go To Site
						</a>
						<div class="pull-right btn btn-default btn-sm" style="color:grey" [routerLink]=new.category >
			    			{{new.category}}
	        			</div>
	        			<div class="pull-right btn btn-default btn-sm" style="color:grey" *ngIf="new.category2">
			    			{{new.category2}}
	        			</div>
	        			<div class="pull-right btn btn-default btn-sm" style="color:grey" *ngIf="new.category3">
			    			{{new.category3}}
	        			</div>
					</div>
				</div> 
				<hr style="padding:0px; margin:0px">
			
		</div>
	</div>
	


<div style="text-align:center; padding: 2rem">
	<a class="btn btn-default"(click)="this.visibilityExpander()" *ngIf="visibilityLimit<15">Load More</a>
</div>

*By "sustainable" we mean products with a socially or environmentally responsible component, or help accelerate  transitioning to a carbon-free economy.


<!-- <disqus [shortname]="'superjuice-cc'" [identifier]="selectedItem.title"></disqus> -->



