<div style="padding-top:100px; padding-bottom:80px">

    <h2>More Sustainable & Ethical Skincare Companies</h2>
    <p>The user-submitted directory of the best sustainable skincare companies. <br><b>Disclaimer:</b> When readers choose to buy from some (but not all) of the listed companies in the catalog, we earn affiliate commissions that support our work.
    </p>
    <div >
    </div>
</div>
      	

     	

<div *ngIf="selectedItem" id="myModal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      
	         <app-details [selectedItem]="selectedItem"></app-details> 
	      
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<br>
	<app-sign-up></app-sign-up>
	<br>


	<h5 style="text-align: right">Sort By:
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default active" (click)="this.pricetoggle = false">
		    <input type="radio" checked autocomplete="off"> Trust Votes
		  </label>
		  <label class="btn btn-default" (click)="this.pricetoggle = true">
		    <input type="radio" autocomplete="off"> Affordability
		  </label>
		</div>
	</h5>



	<div class="myPanel" *ngIf="!this.pricetoggle">
		<div *ngFor="let new of news | keypipe | filter: 'Beauty' | sort, let i = index"  (click)="postOpen(new)" style="cursor:pointer" class="myRow">


				<div class="row" style="padding:10px" *ngIf="this.visibilityLimit > i">
				 	<app-widget [new]="new" [pricetoggle]="pricetoggle"></app-widget>
				</div> 
				<hr style="padding:0px; margin:0px"> 
				
			
		</div>
	</div>

	<div class="myPanel" *ngIf="this.pricetoggle">
		<div *ngFor="let new of news | keypipe | filter: 'Beauty' | pricesort, let i = index"  (click)="postOpen(new)" style="cursor:pointer" class="myRow">
				<div class="row" style="padding:10px" *ngIf="this.visibilityLimit > i">
					<app-widget [new]="new" [pricetoggle]="pricetoggle"></app-widget>
				</div>
				<hr style="padding:0px; margin:0px"> 
		</div>
	</div>


	<div style="text-align:center; padding: 2rem">
		<a class="btn btn-default"(click)="this.visibilityExpander()" >
			<b>Load More</b>
			<br>
			<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
		</a>
	</div>

 
	<div class="myPanel" style=" margin-top:100px; margin-bottom:80px; padding: 30px">
		<h3 style="text-align: center;">Is a great sustainable company missing? <br><br>
			<a class="btn btn-success" routerLink="/Submit"> Add it here !</a>
		</h3>
	</div>
    		
	<disqus [shortname]="'superjuice-cc'" [identifier]="'great'"></disqus>
