<div style="padding-top:100px; padding-bottom: 100px">
	
    <h2>Find, Share & Compare Sustainable* Companies.</h2>
    <p>Superjuice is a catalog of sustainable companies that anyone can add to, comment on, vote on or share their experiences with. It is here to help consumers find sustainable companies to buy from, compare their certifications and judge their trustworthiness.</p>
</div>
 
<div class="row">
        <div class="col-sm-12">
			<app-sign-up></app-sign-up>
		</div>
</div>

<div *ngFor="let new of news | async, let i = index" >

    <div class="row myPanel" *ngIf="i<visibilityLimit" style=" margin:10px; margin-bottom: 50px; padding: 20px">
        <div class="col-sm-12">
	        <h3> 
	         	{{new.category}} | {{new.title}}
	        <div class="pull-right btn btn-default" (click)="upVote(new.upvote, new.uid)">
			    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
			    {{new.upvote}}
	        </div>
			</h3>
	    <br>
	    </div>
	   	<div class="col-sm-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe 
				class="embed-responsive-item"
				[src]="new.video1 | safe"
				allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-sm-6">
			<p><b>Sustainability & Ethics</b> | {{new.sust1}} <a target="_blank" href="{{new.sustlink}}">CSR Site</a></p>
			<p><b>Best For</b> | {{new.bestfor}}</p>
			<p><b>Product Range</b> | {{new.range}}</p>
			<p><b>Price Range</b> | {{new.price}}</p>
			<p>{{new.intro}}</p>
			<a target="_blank" class="btn btn-primary" href="{{new.productlink}}">Go to site</a>
		</div>
		<div class="col-sm-12" >
		<br>
			<h6 style="text-align: right">
				<div class="btn btn-default">
					<span class="glyphicon glyphicon-comment" aria-hidden="true" (click)="void"></span>
					{{new.comments1}}
				</div>
			</h6>
		</div>
		
    </div>

</div>

<div style="text-align:center; padding: 2rem">
	<a class="btn btn-default"(click)="this.visibilityExpander()" *ngIf="visibilityLimit<15">Load More</a>
</div>


*By "sustainable" we mean products with a socially or environmentally responsible component, or help accelerate  transitioning to a carbon-free economy.