<div *ngIf="this.selectedItem.value">
	<div  class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
        	{{this.selectedItem.value.title}} | {{this.selectedItem.value.category}}
        	<!-- <button class="btn btn-default pull-right" (click)="upVote(new.upvote, new.uid)">
			    Upvote
			    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{this.selectedItem.upvote}}
	        </button> -->
        </h3> 
      </div>
      <div class="modal-body">



  <div class="row">
         <div class="col-sm-6">
			 <div class="embed-responsive embed-responsive-16by9">
				 <iframe 
				 	id="yt-player"
					class="embed-responsive-item"
					[src]="this.selectedItem.value.video1 | safe"
					allowfullscreen>
				</iframe>
			</div>
		</div>
		 <div class="col-sm-6">
			<p><b>Sustainability & Ethics</b> | {{this.selectedItem.value.sust1}}</p>
			<p><b>Best For</b> | {{this.selectedItem.value.bestfor}}</p>
			<p><b>Product Range</b> | {{this.selectedItem.value.range}}</p>
			<p><b>Price Range</b> | {{this.selectedItem.value.price}}</p>
			<p>{{this.selectedItem.value.intro}}</p>
			<br>
			<a *ngIf="selectedItem.value.greene" target="_blank" href="www.green-e.org"><img src="assets/green-e.gif" height="30px"></a>
			<a *ngIf="selectedItem.value.organic" style="display:inline" target="_blank" href="https://www.ams.usda.gov/rules-regulations/organic"><img src="assets/organic.gif" height="30px"></a>
			<a *ngIf="selectedItem.value.fairtrade" style="display:inline" target="_blank" href="http://fairtradeusa.org/cooplink"><img src="assets/fairtrade.gif" height="30px"></a>
			<hr>
			<a class="btn btn-info" target="_blank" href="{{this.selectedItem.value.sustlink}}">Sustainability & Ethics</a>
			<a target="_blank" class="btn btn-success" href="{{this.selectedItem.value.productlink}}">Go To Site</a>
			
		</div> 
</div> 
<div class="row">
			 <div class="col-sm-12" >
				<!-- <h5>
					<span class="glyphicon glyphicon-comment" aria-hidden="true" (click)="void"></span> 
					Comments
				</h5> -->
				<!-- <div class="panel">
						 {{this.selectedItem.comments1}} 
						 
						
				</div> -->
				
			</div>
</div>


</div>
      <div class="modal-footer">
      	<p class="pull-left"><span class="glyphicon glyphicon-user" aria-hidden="true" (click)="void"></span> {{this.selectedItem.value.user}}</p>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="stopVideo()">Close</button>
        
</div>
</div>