<div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
        	{{this.selectedItem.title}} | {{this.selectedItem.category}}
        	<!-- <button class="btn btn-default pull-right" (click)="upVote(new.upvote, new.uid)">
			    Upvote
			    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{this.selectedItem.upvote}}
	        </button> -->
        </h3> 
      </div>
      <div class="modal-body">



 <div class="row">
         <div class="col-sm-6">
			 <div class="embed-responsive embed-responsive-16by9">
				 <iframe 
					class="embed-responsive-item"
					[src]="this.selectedItem.video1 | safe"
					allowfullscreen>
				</iframe>
			</div>
		</div>
		 <div class="col-sm-6">
			<p><b>Sustainability & Ethics</b> | {{this.selectedItem.sust1}}</p>
			<p><b>Best For</b> | {{this.selectedItem.bestfor}}</p>
			<p><b>Product Range</b> | {{this.selectedItem.range}}</p>
			<p><b>Price Range</b> | {{this.selectedItem.price}}</p>
			<p>{{this.selectedItem.intro}}</p>
			<a class="btn btn-info" target="_blank" href="{{this.selectedItem.sustlink}}">Sustainability & Ethics</a>
			<a target="_blank" class="btn btn-primary" href="{{this.selectedItem.productlink}}">Go To Site</a>
		</div> 
		</div>
		<div class="row">
			 <div class="col-sm-12" >
				<h5>
					<span class="glyphicon glyphicon-comment" aria-hidden="true" (click)="void"></span> 
					Comments
				</h5>
				<div class="panel">
						 {{this.selectedItem.comments1}} 
						 
						
				</div>
			</div>
		</div>






<iframe class="embed-responsive-item"
		src="https://disqus.com/embed/comments/?base=default&amp;version=363a88bef35291d2372470008ca7e3b0&amp;f=superjuice-cc&amp;t_u=http%3A%2F%2Fsuperjuice.cc%2FNew&amp;t_d=Superjuice&amp;t_t=Superjuice&amp;s_o=default">
		</iframe>

<!-- <iframe src="'https://disqus.com/embed/comments/?base=default&amp;version=363a88bef35291d2372470008ca7e3b0&amp;f=superjuice-cc&amp;t_u=http%3A%2F%2Fsuperjuice.cc%2F' + {{this.selectedItem.title}}  + '&amp;t_d=Superjuice&amp;t_t=Superjuice&amp;s_o=default'">
-->
<!--  
<disqus [shortname]="'superjuice-cc'"  [identifier]="'this.selectedItem.title'"
    [url]="this.selectedItem.title" ></disqus>  -->


</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
</div>
