

<div class="container">
	<div class="col-sm-8 col-sm-offset-2" style="padding: 50px">
		<br><br>
		<h2>The Best ESCO For Green Consumers</h2>
		<p class="blog-post-meta"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Last updated: January 2nd 2017
		&nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a routerLink="/about">Nicholas Dunkel</a></p>
	</div>
</div>


<div class="container">

 		

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 blog-main">

		


        <div class="blog-post">

        	

            <p>ESCOs are a great way to get green energy with little effort. If you don’t know what ESCOs are or how they work, check out <a href="#beginner">this section</a>. <br>After 60 hours of research, testing 3 ESCOs and comparing countless reviews and 12 company pages, we’ve concluded that <a href="https://cleanchoiceenergy.com/referral/by/NDUNKEL/em">Clean Choice Energy</a> is the best ESCO for green consumers in 2017. It offers the best sustainability and best customer service for only a slight premium. If you're going to go to the trouble of switching to an ESCO, this is the plan to get.
			</p>
            
	        <div class="myPanel">
	        	<div class="media" style="padding: 20px">

						  <a href="https://cleanchoiceenergy.com/referral/by/NDUNKEL/em"><img class="img-responsive" src="assets/cce-logo-award.png"></a>
						  <br>

						  <div class="media-body">
						    <p class="media-heading"> 
						    <br><a href="https://cleanchoiceenergy.com/referral/by/NDUNKEL/em">Clean Choice Energy's</a> 12 month rate lock plan (12 month term) is the best ESCO plan for green consumers in 2017. It offers the best sustainability and best customer service for only a slight premium.</p>
						  </div>
						  <div class="media-right media-middle">
						    <a href="https://cleanchoiceenergy.com/referral/by/NDUNKEL/em" class="media-object">	
						    	<button class="btn btn-lg btn-primary">Switch Plans Now <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
						    </a>
						  </div>
				</div>
			</div>
			<br>
		


	        <p>All green ESCOs are going to add around 10% to your monthly bill one way or another, so we don't think the defining factor is cost. Here's a quick overview to demonstrate this:</p>
	        <br>
        

        

        
	  		<table class="table table-condensed table-hover ">
			  <tr>
			    <th class="tg-yw4l"></th>
			    <th class="tg-yw4l">July Bill (500kWh)</th>
			    <th class="tg-yw4l">December Bill (150kWh)</th>
			    <th class="tg-yw4l">Cancellation Fee (12 mo plan)</th>
			    <th class="tg-yw4l">12 mo rate</th>
			  </tr>
			  <tr>
			    <td class="tg-yw4l">ConEdison (default)</td>
			    <td class="tg-yw4l">$133</td>
			    <td class="tg-yw4l">$48</td>
			    <td class="tg-yw4l">n/a</td>
			    <td class="tg-yw4l">n/a</td>
			  </tr>
			  <tr class="success">
			    <td class="tg-yw4l">CleanChoice Energy</td>
			    <td class="tg-yw4l">$145</td>
			    <td class="tg-yw4l">$53</td>
			    <td class="tg-yw4l">$0</td>
			    <td class="tg-yw4l">11c/kWh</td>
			  </tr>
			  <tr>
			    <td class="tg-yw4l">Green Mountain Energy</td>
			    <td class="tg-yw4l">$135</td>
			    <td class="tg-yw4l">$50</td>
			    <td class="tg-yw4l">$100</td>
			    <td class="tg-yw4l">8.9c/kWh</td>
			  </tr>
			  <tr>
			    <td class="tg-yw4l">Clearview Energy</td>
			    <td class="tg-yw4l">$135</td>
			    <td class="tg-yw4l">$50</td>
			    <td class="tg-yw4l">$150</td>
			    <td class="tg-yw4l">8.9c/kWh</td>
			  </tr>
			</table>
		

		<p>If the price doesn't make more than 10% difference, what should we look out for? The defining factor in our opinion is how upfront ESCOs are about other fees and customer service. This is where Clean Choice stands out: No hidden cancellation fees, excellent customer service and no hidden fees. That makes Clean Choice our pick for best ESCO for most green consumers for 2017.</p>

		<br>

		<app-sign-up></app-sign-up>




        <br>
        <h3>Table of Contents</h3>
        <ul>
        	<li><a href="#intro">Who this review is for</a></li>
        	<li><a href="#who">Who should get this</a></li>
			<li><a href="#picked">How we picked</a></li>
			<li><a href="#winner">What the winner says</a></li>
			<li><a href="#blogs">What the blogs say</a></li>
			<li><a href="#users">What the users say</a></li>
			<li><a href="#flaws">Flaws but not dealbreakers</a></li>
			<li><a href="#wrapping">Wrapping it up/Our Pick</a></li>
			<li><a href="#beginner">The beginner's guide to ESCOs</a></li>
			<li><a href="#competition">The competition</a></li>
        </ul>
        <br>
        <hr>
        <br>




		<h3 id="intro">Who this review is for</h3>
		<p>
		This review is for consumers looking to find which ESCO is the best and the greenest. For information on solar panels, community solar, and other green options that have nothing to do with ESCOs, check out our section <a href="">The competition</a>.</p>
		<hr>
		<br>





		<h3 id="who">Who should get this</h3>

		<br>
		<p><b>Renters</b> If you rent and you want the fastest, easiest way to use green energy, then ESCOs are for you. If you're looking for other options, check out our <a href="competition">competition section</a>. It’s much easier and quicker than installing hardware yourself, doesn’t require any cutting of red tape, and when you move, you can simply move your virtual contract on to your next apartment. For renters who don’t have time to consider other options, ESCOs are the way to go.</p>
		<br>
		<p><b>People who move a lot</b> Even if you don’t rent, you may move a lot. In this case, there’s something to be said against being tied down by the sunk cost of solar hardware. ESCOs are much easier and quicker than installing hardware yourself, doesn’t require any regulation or red tape, and when you move (as renters sometimes often have to), you can simply move your virtual contract on to your next apartment.</p>
		<br>
		<p><b>People with shaded roofs or roofs facing the wrong way</b>
		As we know, solar works best and in some cases only makes financial sense if your rooftop is facing the right way and isn’t shaded by any trees. In this case, solar can also make sense.</p>
		<br>
		<p><b>Customers looking to save money</b> In some cases, switching to an ESCO can save you money. This is rarely the case, but in some states under some circumstances can be a thing. It is rare that ESCOs will actually save you money, as they are basically selling you the same commodity that the utility sells you anyway, but adding in cost for marketing and the renewable energy certificates (RECs). Check out a cool company called <a href="www.powertochoose.com">PowertoChoose</a> for the cheapest rates in your area, though we find the site a little hard to use and the sourcing unclear.</p>

		<hr>

		<br>


		<h3 id="picked">How we picked</h3>

		<p>Comparing countless online reviews, company pages, personally testing 3 and 2 user reviews make us believe that <a href="www.cleanchoiceenergy.com">Clean Choice Energy</a> offers the best balance of
		<br><br>
		<b>Sustainability</b> They are by far the most reliable and specialised proponent of clean energy. They were founded by an activist, Tom Matzzie, and specialize in clean energy, so you know they’re bargaining for the best deals. Certified by independent controlling houses, and 350.nyc, we think they’re up to good. See <a href="#winner">What the winner says</a> for more details.
		<br><br>
		<b>Affordability</b> Prices are higher than the competition, but not the highest of the industry (that honor goes to Oasis and Greenlight, with Greenlight is not being renewably sourced!). Important: since only the supply portion of your bill will change, it won’t double your energy bill as it would seem. (As you know, supply and delivery charges are separate in deregulated states. Didn’t know this? Check out our easy <a href="">The beginner's guide to ESCOs</a>. 

		This is how it play out in the real world: </p>
		<br>
		<div class="panel panel-default">

		<div class="panel-heading">ESCO Comparison</div>
	  		<table class="table table-condensed table-hover ">
			  <tr>
			    <th class="tg-yw4l"></th>
			    <th class="tg-yw4l">July Bill (500kWh)</th>
			    <th class="tg-yw4l">December Bill (150kWh)</th>
			    <th class="tg-yw4l">Cancellation Fee (12 mo plan)</th>
			    <th class="tg-yw4l">12 mo rate</th>
			  </tr>
			  <tr>
			    <td class="tg-yw4l">ConEdison (default)</td>
			    <td class="tg-yw4l">$133</td>
			    <td class="tg-yw4l">$48</td>
			    <td class="tg-yw4l">n/a</td>
			    <td class="tg-yw4l">n/a</td>
			  </tr>
			  <tr class="success">
			    <td class="tg-yw4l">CleanChoice Energy</td>
			    <td class="tg-yw4l">$145</td>
			    <td class="tg-yw4l">$53</td>
			    <td class="tg-yw4l">$0</td>
			    <td class="tg-yw4l">11c/kWh</td>
			  </tr>
			  <tr>
			    <td class="tg-yw4l">Green Mountain Energy</td>
			    <td class="tg-yw4l">$135</td>
			    <td class="tg-yw4l">$50</td>
			    <td class="tg-yw4l">$100</td>
			    <td class="tg-yw4l">8.9c/kWh</td>
			  </tr>
			  <tr>
			    <td class="tg-yw4l">Clearview Energy</td>
			    <td class="tg-yw4l">$135</td>
			    <td class="tg-yw4l">$50</td>
			    <td class="tg-yw4l">$150</td>
			    <td class="tg-yw4l">8.9c/kWh</td>
			  </tr>
			</table>

		</div>


		<br>

		<p>As the simulated bill comparison below shows, using actual bills from December and July on the left side, and simulated ones for CleanChoice's rates on the right, switching to CleanChoice only adds between 5 and 15 dollars to your bill every month. It's only marginally more expensive than ConEd or the nearest competitors – Green Mountain and Clearview, and because CleanChoice has no cancellation fees and way better customer experience, we think <b>it's worth the extra 10% on your bill</b>.
		</p>
		<hr>
		<br>
		<img class="img-responsive" src="assets/simulationbillwinter.jpg">
		<br>
		<hr>
		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="assets/simulationbillwinter.jpg" class="thumbnail">
		      <img class="img-responsive" src="assets/simulationbillwinter.jpg">
		    </a>
		    </div>
		    <div class="col-xs-6 col-md-3">
		   	<a href="assets/simulationbillsummer.jpg" class="thumbnail">
		      <img class="img-responsive" src="assets/simulationbillsummer.jpg">
		    </a>
		  </div>
		</div>

		<br>
		<b>Customer Experience </b>
		<ul>
		<li>No cancellation fee (!!!) This is compared to Green Mountain Energy’s $100 fee, or clearview energy’s $150 fee.</li>
		<li>No switching fee</li>
		<li>Website head and shoulders above the rest. Way more informative, less cluttered and confusing, and better site than any of the competition (only Green Mountain comes close).</li>
		<li>Way fewer plans (two, to be precise, compared to Green Mountain’s five). They have fewer options, but all options are good.</li>
		<li>Customer service that is genuinely helpful (compared to Green Mountain, Clearview Energy)</li>
		<li>Not really a plus, but no scummy marketing tactics are a huge benefit for consumer trust.</li>
		</ul>


		<br>
		<hr>
		<br>



		<h3 id="winner">What the winner says</h3>


		<iframe id="myFrame" src="https://www.youtube.com/embed/svcdiGvSIw0" frameborder="" allowfullscreen></iframe>

		<p>(Note: Ethical Electric was recently renamed CleanChoice Electric)</p>
		<br><br>

		<a href="https://cleanchoiceenergy.com/how-it-works/pricing-plans/">Current pricing</a>
		<br>
		<img class="img-responsive" src="assets/planscleanchoice.png">

		<br><br>

		<a href="https://cleanchoiceenergy.com/how-it-works">Where the Energy's From</a>
		<br>
		Unfortunately, no word on exactly which projects they support. Our only guarantee is 
		<img class="img-responsive" src="assets/sources.png">

		<br><br>

		<a href="https://cleanchoiceenergy.com/about-us/our-certifications/">Certifications</a>
		<br>
		<img class="img-responsive" src="assets/certifications.png">
		<br>
		Green-E is the one that counts here. From their site:
		<blockquote>Green-e is the trusted global leader in clean energy certification. We make it easy for businesses and individuals to purchase verified clean energy with confidence, and for consumers to choose sustainable products and services.</blockquote>

		<blockquote>Green-e is recommended or required in leading environmental standards like Leadership in Energy and Environmental Design (LEED), The Climate Registry (TCR), B Corporation, Cradle to Cradle, Sustainable Purchasing Leadership Council, and others.
Since 1997, Green-e has been a program of the nonprofit Center for Resource Solutions, based in San Francisco, CA.</blockquote>
		
		<br>


		<hr>
		<br>
		

<h3 id="blogs">What the blogs say</h3>

<blockquote><a href="https://www.nytimes.com/2014/05/27/business/energy-environment/applying-the-lessons-of-politics-to-green-power.html?_r=0">NYTimes, 2014</a> – “The vision is to find an easy way that we can give people to make a difference in the energy space — and easy is the operative word,” Mr. Matzzie said over lunch near his office in Georgetown. “A big part of our value proposition is you don’t have to have a construction project on your roof to make an impact.” </blockquote>

<blockquote><a href="https://350nyc.org/350-nyc-wind-power/">350.org, 2016 </a> – “The renewable energy you select will cost a few cents more per KWh than your current energy from fossil fuels: an average New York City bill will increase by five to ten dollars a month. When you choose 100% wind energy, you are deciding to divest your dollars from fossil fuel and invest in wind energy production. As more people make this choice, the demand will increase and the cost of renewable energy will drop. Divest & Reinvest! “</blockquote>

<blockquote><a href="https://cleantechnica.com/2013/12/27/clean-energy-delivered-door-ethical-electric-interview/">Founder Tom Matzzie interview from CleanTechnica, 2013</a> – “Ethical Electric provides clean electricity from renewable sources to consumers in a no-fuss no-muss way.”</blockquote>

<blockquote><a href="callmepower.com/suppliers/ethical-electric/reviews">CallMePower </a>– “Many customers are pleased with the activist side of the company. The CEO Tom Matzzie is a cofounder of activist website MoveOn.org, and Ethical Electric uses political canvassing software to target and prospect new clients. Because of this, some feel that Ethical Electric can avoid outside investment and instead maintain a focus on clean energy.”</blockquote>

<blockquote><a href="https://cleantechnica.com/2015/03/10/56000-customers-receive-clean-electricity-ethical-electric/">CleanTechnica, 2015 </a>– “Renewable energy company Ethical Electric has grown its customer based to 56,000. The company only launched in 2012, so acquiring that many customers for its delivery of 100% clean energy in several years is quite a feat. Ethical Electric buys electricity from wind and solar farms in the wholesale market and it sells that electricity to homeowners and business owners.”</blockquote>

<blockquote><a href="https://www.greentechmedia.com/articles/read/political-activism-at-the-grids-edge-ethical-electric-scores-11m">GreenTechMedia , 2014</a> – “The company also sets aside 1 percent of its sales for progressive causes, allowing customers to choose where the money goes. By working with big organizations like Credo Mobile, Daily Kos, Rebuild the Dream and the Sierra Club, Ethical Electric is able to find new customers interested in its overt political strategy.”</blockquote>

<br>
<hr>
<br>

<h3 id="users">What the users say</h3>
<blockquote><a href="https://350nyc.org/350-nyc-wind-power/">Monica W. New York Society for Ethical Culture via 350.org, 2016</a> – “I switched to wind energy about 6 years ago and our monthly bills are about $10.00 a month more. It seems worthwhile to invest the cost of a few lattes a month to support a future with sustainable energy.”</blockquote>

<blockquote><a href="https://chicago.everyblock.com/city-services/may21-ethical-electric-utility-provider-bona-fide-viable-6151303/">User Liz Clark, Everyblock.com</a> – I use EE. My bill still comes to me via ComEd and the bill hasn't gone up at all. I like the feeling that I'm using green energy.</blockquote>

<br>
<hr>
<br>

<h3 id="flaws">Flaws but not deal breakers</h3>

<p><b>Not the best rate in town</b> You can potentially get wind/solar power cheaper through other ESCOs. Ethical Electric’s green energy plans are usually mid-field to upper mid-field in their pricing range.  The reason we don’t believe this is a deal breaker (see “affordability” section) is that this price makes up only the supply side of your energy bill, so the difference ends up being small. What you get is way better service and no cancellation fees. Still, if you’re looking for the absolute lowest green energy ESCO rate, look no further than Green Mountain Energy at the end of this article.</p>

<p><b>No added capacity</b> This can be said about all ESCOs, not specifically about GME, but you’re supporting existing renewable projects, not directly adding capacity (though something can be said that you’re indirectly funding them). The exact wording from the agreement: “Pollution Free™ electricity: If you are enrolled on Pollution Free, Pollution Free Efficient, or Pollution Free Standard Offer Program electricity, Green Mountain ensures that electricity equal to 100% of your electricity usage is produced by wind power generation facilities located in the United States.” The Sun Club membership does develop more solar capacity.</p>

<p><b>The variable rate plans are not always the best deal</b> If you’re looking for the best deal, go for the 12 month plan at a fixed cost. Though reports of rate spiking is exaggerated, variable rate plans are dependent on market costs and could spike when the whole energy market wholesale cost spikes (so your rate from ConEd would, too). Having these variable rate plans available is something we consider a flaw, as it leads to customer confusion and rumors and stories of spikes that had very little to do with the ESCO model.</p>

<br>
<hr>
<br>

<h3 id="wrapping">Wrapping it up/Our Pick</h3>


        <div class="media">
					  <div class="media-body">
					    <p class="media-heading"> 
					    <br>After 60 hours of research, testing 3 ESCOs and comparing countless reviews and 12 company pages, we’ve concluded that <a href="https://cleanchoiceenergy.com/referral/by/NDUNKEL/em">Clean Choice Energy</a> is the best ESCO for green consumers in 2017. If offers the best balance of sustainability, affordability and customer experience.</p>
					  </div>
					  <div class="media-right media-middle">
					    <a href="https://cleanchoiceenergy.com/referral/by/NDUNKEL/em" class="media-object">	
					    	<button class="btn btn-lg btn-success">Sign Up <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
					    </a>
					  </div>
		</div>


<br>
<hr>
<br>

<h3 id="beginner">The beginner's guide to ESCOs</h3>

	<p><b>TL;DR</b><br>
	ESCOs help you get a specific energy mix into your sockets, as opposed to your utility’s default mix. You pay through your normal energy bill.</p>

	<p>ESCO stands for Energy Service Company.
	In states that are deregulated, energy is split up into supply and delivery. Utilities handle delivery, and also offer a default supply if you don’t tell them otherwise. ESCOs can handle over the supply part if you actively switch. You can not switch your delivery part. This has not been deregulated anywhere (and this guarantees a minimum of reliability in the electrical lines, etc).</p>

	<p>When you sign up for an ESCO, ESCOs will purchase power credits from generation companies for the amount of energy you use every month. ESCOs do not generate their own electricity, but buy it from existing generation companies. You can not buy power from a generation company yourself as a single consumer. The ESCO will then bill you for this energy.
	That’s why on your bill, you always have two figures for supply and delivery. One is the ESCO, and one is the utility. Again, if you never sign up for an ESCO, the utility will just default to a mix of power as they see fit.
	This is what it’ll look like if everything’s working:</p>

	<img class="img-responsive" src="assets/beforeafter.jpg">


	<p>According to a Con Ed representative contacted by <a href="www.policygenius.com">PolicyGenius</a>, Con Ed has an obligation to get the best prices that they can, but ESCOs can provide certain deals that can make their prices lower than Con Ed’s.</p>

	<p>Not all states are deregulated (as in, have split up supply and delivery), so in some states you can’t sign up for an ESCO and you still have to buy whichever energy your utility decides to buy. 
	As of writing, New York’s Con Edison PowerYourWay website lists 72 different ESCOs that provide electricity, gas, or both.</p>

	<iframe id="myFrame" src="https://www.youtube.com/embed/bLtZ5yFDElE" frameborder="0" allowfullscreen></iframe>


	<br>
	<hr>
	<br>

<h3 id="competition">The competition</h3>

<p><b>Green Mountain Energy</b> Gets a lot of flak for being part of NRG Energy, and their sometimes very pushy street representatives. On the upside you can get better rates from their green electricity plans vs. Cleanchoice, on the downside you get cancellation fees and worse customer service should something go wrong or be unclear. Also, if you sign up online there have been reports of you getting better rates than through street representatives, which has led to further inclarity about their pricing structure. </p>
<p>We still think they’re a great option, but not as universally recommendable as Clean Choice. If Clean Choice is not available in your area or you feel like the premium for Clean Choice is not worth it, go for it! They’re a great second option. Just go for the 12 month plan and not the variable rate, and be aware of the cancellation fee.</p>

Their best option is the <a href="https://www.greenmountainenergy.com/for-home/products/coned-nyc/coned-nyc-pollution-free-reliable-rate ">12 month “reliable rate” Pollution free</a> 

<img class="img-responsive" src="assets/plansgm.png">


Their information is more hidden in <a href="https://www.greenmountainenergy.com/documents/gme_ne_e_offerinfo/?product=coned-nyc-pollution-free-reliable-rate">multiple</a> part <a href="https://www.greenmountainenergy.com/documents/coned-nyc-pf-reliable-rate/ ">contracts</a>, again decreasing the usability and clarity of this option, which is why we prefer Clean Choice. The two agreements are highlighted below for clarity.

Agreement1:

<img class="img-responsive" src="assets/gm1.png">

Agreement 2: 

<img class="img-responsive" src="assets/gm2.png">


<br>
<br>

<iframe id="myFrame" src="https://www.youtube.com/embed/7RAmIHljjKY" frameborder="" allowfullscreen></iframe>


<b>What the media said about Green Mountain</b>

<blockquote>Grist, 2010 – On the other hand, Green Mountain will still have to deliver on the product it sells, no matter who owns it. Customers unhappy with the provider’s corporate alliances can always seek out some smaller entity to sell them power, Van Nostrand said. But, he added, large corporate ownership has some advantages to customers.</blockquote>

<blockquote>Brooklyn Solar Works (competing company) Furthermore, their fuel mix (F8) is comprised of only 5% wind and less then 1% solar. The winner? Starion Energy. With 47% wind, Starion was leaps and bounds ahead of everybody else. </blockquote>

<blockquote>The Energy, 2014 – “At NRG, we are trying to transform ourselves. We are running flat out to embrace the clean energy future, while at all times being mindful of our critical role in keeping the lights on in all of the markets we serve.  While it’s exciting to hear NRG speak so enthusiastically about the clean energy future, a steady stream of coal fleet acquisitions and environmental violations makes NRG’s true intentions less clear.”</blockquote>

<blockquote>Green Tech Media, 2013 – “Green Mountain guarantees at least 4 percent of the Renewable Energy Credits purchased to fulfill the SolarSPARC contract will be from Texas and all will be retired.</blockquote>

<blockquote>NPR – 2016 To show his support, Sauchelli has been paying an extra 7.4 cents per kilowatt-hour to a clean power company, called Green Mountain Energy, through his energy supplier in Brooklyn, Con Edison.</blockquote>


<p><b>Following ESCOs were also researched and taken into account for this review:</b></p>
<ul>
<li>Clearview Energy</li>
<li>Think Energy</li>
<li>Public Power</li>
<li>Constellation</li>
<li>Con Edison Solutions (“the incumbent”)</li>
<li>East Coast Power & Gas</li>
<li>Xoom Energy Inc</li>
<li>Spark Energy</li>
<li>Con Edison Solutions Green</li>
<li>Direct Energy Inc</li>
<li>Greenlight Energy Inc</li>
<li>Oasis Energy</li>
</ul>

<p><b>Community Solar</b> also known as shared solar. This is a great resource to directly finance more sustainable power. You develop a remote solar project with your neighbours, either for better bargaining power or because you can’t install solar locally on your rooftop. New York is leading a <a href="https://www.nyserda.ny.gov/All-Programs/Programs/NY-Sun/Communities/Shared-Solar">big push</a> into community solar now, but it is still developing. The added organisational effort and longer timeline of these projects led us to the conclusion that ESCOs are a better solution for your average city person. If you have time and want to join a community – go for it! The best info and option to sign up for the wait list now and get on a list for NYC is again <a href="https://cleanchoiceenergy.com/community-solar/">CleanChoice</a>. Not many other options exist so far.</p>


<iframe id="myFrame" src="https://www.youtube.com/embed/4EkHpfOOh1g" frameborder="0" allowfullscreen></iframe>


<p><b>Solar Leasing</b> If you own your own rooftop, this is a great way to get a solar system on your rooftop for the same price of an esco. The biggest is Solarcity. This is only a viable option if you have your own rooftop that is unshaded. 20 year terms are normal, so make sure you’re not planning a move. If none of these factors apply – go for it!</p>


<iframe id="myFrame" src="https://www.youtube.com/embed/3BTjiXBBMsM" frameborder="0" allowfullscreen></iframe>


		</div>
		



        </div>
        </div>	
    